.infoBox{
flex: 1;
    text-align: center;
    cursor: pointer;
}
.infoBox:not(:last-child){
    margin-right: 15px;
}
.infobox__title{

}
.infobox__cases{
    color: #cc1034;
    font-weight: 600;
    font-size: 1.75rem;
    margin-bottom: 0.5rem;
}
.infobox__total{
    color: #6c757d;
    font-weight: 700 !important;
    font-size: 0.9rem !important;
    margin-top: 10px !important;
}
.infobox--selected{
    border: 1px solid greenyellow;
    transform: scaleY(1.2);
    margin-bottom: 5px;
}
.infobox--Red{
    border-color:red ;
}
.infobox--casename{
    color: #007e00 !important;
}